[flake8]
# B:   bug-bear (additional bad code checks)
# B9:  bug-bear opinionated (additional, additional bad code checks)
# BLK: black (code formatting)
# C:   mccabe (code complexity)
# E:   pycodestyle errors (PEP8 checks)
# F:   pyflakes (invalid/bad code checks)
# I:   import order (python import ordering)
# W:   pycodestyle warnings (PEP8 checks)
select = B,B9,BLK,C,E,F,I,W

# E203: for Black compatibility (whitespace before ‘:')
# E501: for bug-bear compatibility (as B905 overrides line length checks)
# W503: for Black compatibility (line break before binary operator)
ignore = E203,E501,W503

# general
max-line-length = 120

# for mccabe
max-complexity = 10

# for flake8-import-order
application-import-names = bas_metadata_library,tests
import-order-style = smarkets
